name: chat_gist_handler

on:
  repository_dispatch:
    types: [post_message]

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Post message to Gist
        uses: devops-infra/action-github-gist@v2
        with:
          gist_id: ${{ secrets.GIST_ID }}
          github_token: ${{ secrets.GH_TOKEN }}
          file_name: txt
          content: ${{ github.event.client_payload.encrypted }}
          append: true
